<div class="card">
    <h3 class="card-header">Create New Post</h3>
    <form class="card-body new-post-form" id="new-post-form">
        <label for="post-title" class="form-label">Title</label>
        <input type="text" id="post-title" name="post-title" class="form-input" />


        <label class="form-label" for="content">Content</label>
        <input id="content" name="content" class="form-input" />

        <button type="submit" class="btn">Create</button>
    </form>
</div>

<script src="/js/addPost.js"></script>

{{!-- edit post --}}
<div class="card">
    <h3 class="card-header">Edit Post</h3>
    <form class="card-body edit-post-form">
        <label for="post-title" class="form-label">Title</label>
        <input name="post-title" type="text" value="{{post.title}}" class="form-input" />
        <label class="form-label" for="content">Content</label>
        <input name="content" type="text" value="{{post.content}}" class="form-input" />
        <button type="submit" class="btn">Update Post</button>
        <button type="button" class="delete-post-btn btn">Delete Post</button>
    </form>
</div>

<script src="/js/editPost.js"></script>
<script src="/js/deletePost.js"></script>

{{!-- post info --}}
<div class="card">
    <div class="card-header">
        <h4><a class="link" href="/post/{{id}}">{{title}}</a></h4>
        <p>Posted by {{user.username}} on {{format_date created_at}}</p>
    </div>
    <p class="card-body">{{content}}</p>
</div>

{{!-- comment info --}}
<div class="comments">
    {{#each this}}
    <div class="card">
        <h3 class="card-header"></h3>
        <section class="comment card-body">
            <div class="text">
                {{comment_text}}
            </div>
            <div class="meta">
                -{{user.username}}, {{format_date created_at}}
            </div>
        </section>
    </div>
    {{/each}}
</div>
{{!-- single post --}}
{{> post-info post}}

{{#if logged_in}}
<div class="card">
    <h3 class="card-header"></h3>
    <form class="card-body comment-form" id="comment-form">

        <label class="form-label">Comment</label>
        <input id="comment" name="comment-body" class="form-input" />

        <button type="submit" class="btn">Submit</button>
    </form>
</div>
{{/if}}

{{> comments post.comments}}

{{#if logged_in}}
<script src="/js/comment.js"></script>
{{/if}}