<header>
    <h1>Welcome to the Most Technologically Savvy Blog on the Web!</h1>
</header>
<main>
    {{#if posts}}
    <h2>Your Posts:</h2>
    <ul>
        {{#each posts}}
        <li><a href="/dashboard/edit/{{id}}">{{title}}</a></li>
        {{/each}}
    </ul>
    {{else}}
    <p>You haven't created any posts yet.</p>
    {{/if}}
    <button type="submit" class="btn" id="new-post-button-dashboard">+ New Post</button>


    {{#each posts}}
    <div>
        <h2>{{title}}</h2>
        <p>{{content}}</p>
        <p>Posted by {{user.username}} on {{date_created}}</p>
        <ul>
            {{#each comments}}
            <li>{{comment_text}} - {{user.username}}</li>
            {{/each}}
        </ul>
    </div>
    {{/each}}

</main>
<script src="/js/dashboard.js"></script>


{{!-- post info --}}
{{!-- {{#if posts.length}}
<div class="card">
    <div class="card-header">
        <h4><a class="link" href="/post/{{id}}">{{title}}</a></h4>
        <p>Posted by {{user.username}} on {{format_date date_created}}</p>
    </div>
    <p class="card-body">{{content}}</p>
</div> --}}

{{!-- comment info --}}
{{!-- <div class="comments">
    {{#each this}}
    <div class="card">
        <h3 class="card-header"></h3>
        <section class="comment card-body">
            <div class="text">
                {{comment_text}}
            </div>
            <div class="meta">
                {{user.username}}, {{format_date date_created}}
            </div>
        </section>
    </div>
    {{/each}}
</div>
{{/if}} --}}