<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech-Blog</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

{{!-- post info --}}
<div class="card">
    <div class="card-header">
        <h4><a class="link" href="/post/{{id}}">{{title}}</a></h4>
        <p>Posted by {{user.username}} on {{format_date date_created}}</p>
    </div>
    <p class="card-body">{{content}}</p>
</div>

{{!-- comment info --}}
<div class="comments">
    {{#each this}}
    <div class="card">
        <h3 class="card-header"></h3>
        <section class="comment card-body">
            <div class="text">
                {{comment_text}}
            </div>
            <div class="meta">
                {{user.username}}, {{format_date date_created}}
            </div>
        </section>
    </div>
    {{/each}}
</div>

<button type="submit" class="btn" id="submitBtn">+ New Post</button>
<script src="/js/addPost.js"></script>