<header>
    <h1>Welcome to the Most Technologically Savvy Blog on the Web!</h1>
</header>
<main>
    {{#if posts}}
    <h2>Your Posts:</h2>
    <ul>
        {{#each posts}}
        <h3><a href="/dashboard/edit/{{id}}">{{title}}</a></h3>
        <p>{{content}}</p>
        <p>Posted by {{user.username}} on {{format_date date_created}}</p>
        <ul>
            {{#each comments}}
            <li>{{comment_text}} - {{user.username}}</li>
            {{/each}}
        </ul>
        {{/each}}
    </ul>
    {{else}}
    <p>You haven't created any posts yet.</p>
    {{/if}}
    <button type="submit" class="btn" id="new-post-button-dashboard">+ New Post</button>

    {{!-- {{#each posts}}
    <div>
        <h2>{{title}}</h2>
        <p>{{content}}</p>
        <p>Posted by {{user.username}} on {{date_created}}</p>
        <ul>
            {{#each comments}}
            <li>{{comment_text}} - {{user.username}}</li>
            {{/each}}
        </ul>
    </div>
    {{/each}} --}}

</main>
<script src="/js/dashboard.js"></script>