<!-- Loop over each object in the posts array -->
{{#if posts}}
<h2>Posts:</h2>
<ul>
    {{#each posts}}
    <li><a href="/posts/{{id}}">{{title}} - {{format_date date_created}}</a></li>
    <p>{{content}}</p>
    <p>Posted by {{user.username}} on {{format_date date_created}}</p>
    {{/each}}
</ul>
{{else}}
<p>No posts have been created yet.</p>
{{/if}}