<!-- Loop over each object in the posts array -->
{{#if posts}}
<h2 id="homepage-title">Posts</h2>
<div class="card">
    <div class="card-body">
        {{#each posts}}
        <a id="home-post-link" class="card-title" href="/posts/{{id}}">{{title}} - {{format_date
            date_created}}</a>
        <p id="home-post-content" class="card-text">{{content}}</p>
        <p class="card-subtitle  mb-2 text-muted">Posted by {{user.username}} on {{format_date date_created}}</p>
    </div>
    {{/each}}
    {{else}}
    <p>No posts have been created yet.</p>
    {{/if}}
</div>