{{!-- iterates through an array of comments (with the Comment identifier), and displays each comment --}}
{{#each Comment}}
<div class="card comment">
    <div class="card-body">
        <p>Comment:</p>
        <p class="card-text">{{body}}</p>
    </div>
</div>
{{/each}}
</section>

{{!-- allows users to submit new comments. --}}
<div class="card text-center">
    <div class="card-body">
        <h3 class="card-title">Add Comment</h3>
        <form id="newComment">
            <div class="card-text"></div>
            <input id="hiddenCommentId" hidden="true" value="{{id}}"></input>
            <textarea class="form-input" id="comment" type="text" placeholder="Type your comment here..."></textarea>
            <button class="btn submitBtn" type="submit" data-id="{{id}}" id="newCommentButton">Submit</button>
        </form>
    </div>
</div>

{{!-- Update comment --}}
{{#each comments}}
<div class="card comment">
    <div class="card-body">
        <p>{{title}}</p>
        <p class="card-text">{{body}}</p>
        <form class="updateCommentForm">
            <input type="hidden" name="comment_id" value="{{id}}">
            <div class="form-group">
                <label for="title">Title:</label>
                <input type="text" class="form-control" name="title" value="{{title}}">
            </div>
            <div class="form-group">
                <label for="body">Content:</label>
                <textarea class="form-control"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Update</button>
        </form>
    </div>
</div>
{{/each}}

<script src="/js/comment.js"></script>